*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ccc;
  padding: 4rem 2rem;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 45%;
  }
  body {
    padding: 3rem 1rem;
  }
}
